/* mobie device */
@media screen and (max-width:425px) {
    /* header */
     .header{
        flex-direction: column;
        width: 100%;
        text-align: center;
     }
     .nav-link{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 20px;
        
     }
     .nav-link .link{
        margin-right: 0;
     }

     /* banner */
     .banner-container{
        flex-direction: column;
     }
     .banner-text{
        width: 100%;
        text-align: center;
        padding: 0.8rem;
     }
     .banner-img{
        width: 100%;
        padding: 0.8rem;
        padding-bottom: 0;
     }
     /* funny card section */
     .funny{
        padding: 1rem;
     }
     .funni-card{
        margin-top: 2.8rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
    .funny h2{
        font-size:1.6rem;
        margin-bottom: 20px;
    }
    .funny p{
        font-size: 1rem;
        
    }
}

/* tablet device */
@media screen and (min-width:425px) and (max-width:768px) {
    /* header */
    .header{
       flex-direction: column;
       width: 100%;
       text-align: center;
    }
    .nav-link{
       margin-top: 30px;
       display: flex;
       flex-direction: column;
       text-align: center;
       gap: 20px;
    }
    .nav-link .link{
       margin-right: 0;
    }
         /* banner */

         .banner-container{
            flex-direction: column;
            
         }
         .banner-text{
            width: 100%;
            text-align: center;
            padding: 0.8rem;
         }
         .banner-img{
            width: 100%;
            padding: 1.8rem;
            padding-bottom: 0;
         }


           /* funny card section */
     .funny{
        padding: 1.7rem;
     }
     .funni-card{
        margin-top: 2.7rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    .funny h2{
        font-size:1.6rem;
        margin-bottom: 1.3rem;
    }
    .funny p{
        font-size: 1rem;
        
    }
}