/* fonts */
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

  /* default style */
*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
img{
    width: 100%;
}





/* header style start*/
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
    padding: 10px 0;
}
.nav-logo{
    display: flex;
    align-items: center;
}
.nav-logo img{
    width: 5rem;
    height: 2.7rem;
    margin-right: 0.7rem;
}
.nav-logo h3{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
}
.nav-logo h3 span{
    color: #FF42A5;
}
.nav-link {
    display: flex;
    align-items: center;
}
.nav-link a{
  text-decoration: none;
  color: #3C354F;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}
.nav-link .link{
    margin-right: 2.7rem;
 }
.nav-social-link {
    padding: 10px 15px;
    background: rgba(11, 2, 35, 0.10);
    border-radius: 3px;
}
.nav-social-link a{
    margin-right: 1.5rem;
}
.nav-social-link a:last-child{
    margin-right:0;
}
.fa-youtube{
    color: #F00044;
}
.fa-tiktok{
    color: #000;
}
/* header style end */


/* banner style start here */
.banner{
  padding: 30px 0 0;
  background:  linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
}
.banner-container{
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    align-items: center;
}
.banner-text{
    width: 50%;
    
}
.banner-text h3{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-text h1{
    font-size: 6rem;
    font-style: normal;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1rem;
}
.banner-text p{
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom:0.9rem;
}
.banner-btn button{
   margin-top: 1.9rem;
   color: #FFF;
   font-size: 1.2rem;
   font-weight: 600;
   text-transform: uppercase;
   padding: 1rem 2.7rem;
   background:#FF42A5 ;
   border: 0;
   border-radius: 3.2rem;
}
.banner-btn button:last-child{
    background: #4EC5F7;
    margin-left: 1.2rem;
}
.banner-img{
    width: 50%;
    padding-left: 20px;
}
.banner-img{
 background: url();
}
/* banner style end here */
/* hero ============================*/
.hero{
    /* margin-top: 0px; */
    padding: 30px 0;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.hero-container{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.hero-img{
 width: 50%;
}
.hero-content{
 width: 50%;
 margin-left: 120px;
 text-align: right;
}
.hero-content h2{
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero-content p{
    color: #534C64;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px
}
.hero-content h4{
    color: #534C64;
    font-size: 1.6rem;
    font-weight: 500;
}
.hero-btn{
    margin-top: 1.9rem;
    margin-bottom: 1rem;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1rem 2.7rem;
    background:#FF42A5 ;
    border: 0;
    border-radius: 3.2rem;
}
/* funny card section start here */
.funny{
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 70px;
}
.funny h2{
    text-align: center;
    color: #0B0223;
    font-size:3rem;
    font-weight: 700;
}
.funny h2 span{
    line-height: normal;background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.funny p{
    color: #534C64;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
}
.funni-card{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.funni-card img{
    border-radius: 10px;

}

.single-card p{
margin-top: 20px;
text-align: start;
color: #534C64;
font-size: 1.1rem;
font-weight: 500;
line-height: 1.6rem;

}
.single-card{
    position: relative;
}
.Watch-Now{
    transition: 3s;
    display: none;
position: absolute;
top: 40%;
left: 50%;
z-index: 100;
transform: translate(-40%, -50%);
text-align: center;
}
.Watch-Now p{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    padding: o;
}
.Watch-Now i{
    border-radius: 50%;
    padding: 10px;
    justify-content: center;
    align-items: center;  
    text-align: center; 
    color: white;
    background: red;
}
.single-card:hover .Watch-Now{
    display: block;
}
/* funny section end here */


/* play game section start */
.play-game{
    display: flex;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
    gap: 30px;
}
.play-game-img{
    width: 50%;
}
.play-game-content{
    width: 50%;
   padding-left: 150px;
}
.play-game-img{
    /* text-align: center;
    text-align: end; */
    position: relative;
}
.play-game-sub-img{
    width: 100%;
    text-align: end;
}
.play-game-sub-img img{
 width:30%;
 position: absolute;
 margin-top:-130px ;
 margin-left:-100px ;
}
.play-game-content h2{
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.7rem; 
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.play-game-content p{
     color: #534C64;
     font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
}

/* play game section end====================*/
/* careear section start ============================*/
.careear{
  margin-top: 120px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}
.careear-container{
    display: flex;
    /* max-width: 1170px;
    margin: 0 auto ; */
}
.careear-text{
    margin-left: 70px;
    width: 50%;
    margin-right: 1rem;
    padding: 40px 0 30px 0;
}
.careear-text h3{
color: #FFF;
font-family: Work ans;
font-size: 48px;
font-weight: 700;
line-height: 60px;
}
.careeear-blog{
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rempx;
    margin: 1.2rem 0 1.5rem;
}
.careear-text-content{
    display: flex;
}
.careear-left-content p{
color: #FFF;
font-size: 1.4rem;
font-weight: 600;
line-height: 2rem; 
}
.careear-right-content p{
color: #FFF;
font-size: 1.4rem;
font-weight: 600;
line-height: 2rem; 
text-align: end;
}

.careear-img{
    width: 50%;
}
.careear-img img{
    width: 100%;
    height: 100%;
}
.careear-btn{
    color: #F948B2;
    background: #fff;
    padding: 21px 40px;
    font-size: 1.4rem;
    border: none;
    font-weight: 600;
    border-radius: 40px;
    margin-top: 20px;
}
/* careear section end ====================*/

/* team section start ========================*/
.team{
    justify-content:center;
    display: flex;
    flex-wrap: wrap;
    max-width: 1170px;
    margin: 60px auto 60px ;
    gap:  20px 40px;
}
.team-container{
    display: flex;
    align-items: center;
    padding: 8px 15px;
    border: 1px solid white;
   
}
.team-container:hover{
    color: #F948B2;
    border: 1px solid #F948B2;
    width: fit-content;
    border-radius: 30px;
}
  .team-container img{
     width: 40px;
     margin-right: 1rem;
  }
.team-container p{
color: #0B0223;
font-size: 18px;
font-weight: 600;
  }

  /* footer section =======================*/

.footer{
    text-align: center;
    background: #0B0223;
    padding: 70px 0;
}
.footer-logo img{
    width: 4.5rem;
    margin-right: 20px;
}
.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-logo h3{
    font-size: 45px;
    font-style: norxmal;
    font-weight: 700;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footer-link{
    display: flex;
    justify-content: center;
    align-items: center;
   gap: 20px;
   margin: 1.3rem 0;
   color: #FFF;
  cursor: pointer;
font-size: 18px;
font-weight: 600;
}

.footer-icon i{
width: 57.13px;
height: 40px;
cursor: pointer;
color: white;
}
.privecy{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
}
.footer p{
color: rgba(255, 255, 255, 0.60);
text-align: center;
font-size: 16px;
font-weight: 500;
margin-top: 30px;
}